<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                <a [routerLink]="['/books/update',bookObj._id]" class="btn btn-primary btnNext" id="update-btn">Update<i class="glyphicon glyphicon-chevron-right"></i></a>
                <a (click)="delete(bookObj._id)" class="btn btn-primary btnNext" id="update-btn">Delete<i class="glyphicon glyphicon-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="body-space top-spacer table-responsive"> 

            <!--Book-->
            <div class="row books-list">    
                <br><br>
                <div class="col-md-2 col-sm-3 text-center">
                  <a class="story-title" href="#"><img alt="" src="/assets/images/{{bookObj.image}}" style="width:100px;height:100px" class="img-circle"></a>
                </div>
                <div class="col-md-10 col-sm-9">
                  <h3>{{bookObj.title}}</h3>
                  <div class="row">
                    <div class="col-xs-9">
                      <h4><span class="label label-default">{{bookObj.author}}</span></h4><h4>
                      <small style="font-family:courier,'new courier';" class="text-muted">{{bookObj.genre}}</small>
                      </h4></div>
                    <div class="col-xs-3"></div>
                  </div>
                  <h4 class="text-muted" style="text-align: justify;margin-right: 2em;">{{bookObj.about}}</h4>
                </div>
              </div>
              <hr>
              <!--/Book-->
          
              <br><br>
              <a routerLink="/books" class="btn btn-primary pull-right btnNext" id="more-btn">More Books<i class="glyphicon glyphicon-chevron-right"></i></a>
              <br>
        </div>
      </div>
    </div> 
  </div>