<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{title}}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="body-space table-responsive"> 
        <label id="center-label">Login to Explore More !!!</label>
        <img src="assets/images/libbg.jpg" alt="Libapp" width="90%" id="img-label">
        <p id="centered">"Ordinary people have big TVs . Extraordinary people have big Libraries."<br>- Robin Sharma</p>
      </div>
    </div>
  </div> 
</div>






 