/* Signup/Login form */
.upform{
    margin-top: 2%;
    margin-left: 16%;
    margin-bottom: 3%;
    padding: 2%;
    border: 3px solid darkblue;
    border-radius: 2em;
    background-color: rgb(223, 223, 235);
  }

#up-btn{
    margin-top: 2%;
    margin-left: 43%;
}
